*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-areas: "result details";
  column-gap: 30px;
  width: 1140px;
  align-items: end;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: details;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  object-fit: cover;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-form__submit-button {
  align-self: flex-start;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  margin: 0 0 5px 2px;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  font-family: Oswald;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  flex: 1;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__fieldset {
  flex: 1;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin: 5px 0 0 0;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 18px;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 2.5px 14px 2.5px 0;
  font-family: inherit;
  min-width: 230px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);

}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 2px 2px 2px 2px;

}

.search-form__pseudo-checkbox {
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin: 1.5px 5px 1.5px 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: '';
  background-color: rgba(255, 255, 255, 1);
  width: 15px;
  height: 15px;
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;

}

.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__submit-button {
  margin-top: 20px;
  width: 194px;
  height: 34px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

.content__card-link_current {
  display: block;
  width: 100%;
}

.content__card-link_current:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

.content__card-link_current:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link_current:focus {
  outline: none;

}

.content__card-link_current:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);

}

.content__list-item {
  padding: 3px;
}